<% if comment.present? %>
  <div id="<%= dom_id comment %>">
    <p>
      <%= puts "Comment: #{comment.inspect}" %>
      <strong>Text:</strong>
      <%= comment.text %>
      <%= button_to "Rate", rate_topic_post_comment_path(@topic, @post, comment), method: :post, remote: true, class: 'rate-comment-button' %>
    </p>
  </div>
<% else %>
  <p>Comment not available</p>
  <%= puts "Comment: #{comment.inspect}" %>
<% end %>