<p style="color: green"><%= notice %></p>

<%= render @comment %>

<div>
  <% if can? :edit, @comment %>
    <%= link_to 'Edit comment', edit_topic_post_comment_path(@topic,@post,@comment) %>
  <% end %>

  <%= button_to "Destroy this comment", topic_post_comment_path(@topic,@post,@comment), method: :delete %>

  <%= link_to "Back to comments", topic_post_comments_path(@topic,@post,@comment), class: "btn btn-secondary" %>
</div>
