<!-- app/views/topics/all_posts.html.erb -->

<h1>All Posts</h1>

<!--<ul>-->
  <%# @posts.each do |post| %>
<!--    <li>-->
<!--      <h3><%#= post.title %></h3>-->
<!--      <p><%#= post.content %></p>-->
<!--    </li>-->
    <%#= link_to "show comments",topic_post_comments_path(@topic,post) %>
  <%# end %>
<!--</ul>--> <ul>
  <% @posts.each do |post| %>
    <div class="post">
      <li>
        <h3><%= post.title %></h3>
        <p><%= post.content %></p>
      </li>
      <!-- Add a "Show Comments" link -->
      <%= link_to "Show Comments", "javascript:void(0);", class: "show-comments-link", data: { target: "comments-#{post.id}" } %>
      <!-- Display comments for the current post (hidden by default) -->
      <ul class="comments" id="comments-<%= post.id %>">
        <% if post.comments.present? %>
          <% post.comments.each do |comment| %>
            <li><%= comment.text %></li>
          <% end %>
        <% else %>
          <li>No comments</li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= link_to "Back to Home", root_path %>