<!-- app/views/topics/all_posts.html.erb -->

<h1>All Posts</h1>

<!--<ul>-->
  <%# @posts.each do |post| %>
<!--    <li>-->
<!--      <h3><%#= post.title %></h3>-->
<!--      <p><%#= post.content %></p>-->
<!--    </li>-->
    <%#= link_to "show comments",topic_post_comments_path(@topic,post) %>
  <%# end %>
<!--</ul>--> <ul class="list-group">
  <% @topics.each do |topic| %>
  <% @posts =topic.posts%>

  <% @posts.each do |post| %>
    <div class="post">
      <li class="list-group-item">
        <h4>Post:</h4>
        <%= "#{post.title} (#{post.topic.title})" %>
        <p><%= post.content %></p>
      </li><li class="list-group-item">
      <h4>Tags:</h4>
        <% @post.tags.each do |tag| %>
          <%= tag.name %>
        <% end %>
    </li>
      <!-- Add a "Show Comments" link -->
      <%#= link_to "Show Comments", "javascript:void(0);", class: "show-comments-link", data: { target: "comments-#{post.id}" } %>
      <!-- Display comments for the current post (hidden by default) -->
      <ul class="list-group">
      <li class="list-group-item">
        <h4>Comments</h4>
        <% if post.comments.present? %>
          <% post.comments.each do |comment| %>
           <%= comment.text %>
          <% end %>
        <% else %>
          No comments
        <% end %>
        </li>
      </ul>

    </div><br>
  <% end %>
<%end %>
  <%= link_to "Back to Home", root_path ,class: "btn btn-secondary" %>