<p style="color: green"><%= notice %></p>

<h1>Topics</h1>

|  <%= link_to "New Topic", new_topic_path%>  |
<br><br>
<table class="table table-hover">
  <thead>
  <tr>
    <th>Topic</th>
    <th>Show Topic</th>
    <th>Show Posts</th>
  </tr>
  </thead>
  <tbody>
  <% @topics.each do |topic| %>
    <tr>
      <td><%= render topic %></td>
      <td><%= link_to "Show Topic", topic %></td>
      <td><%= link_to "Show Posts", topic_posts_path(topic) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to "Back to Home", root_path, class: "btn btn-secondary" %>
