<p style="color: green"><%= notice %></p>

<h1>Topics</h1>

<div id="topics">
  <% @topics.each do |topic| %>
    <%= render topic %>
    <p>
     | <%= link_to "Show topic", topic %> | | <%= link_to "Show  posts", topic_posts_path(topic) %> |
    </p>
  <% end %>
</div>

| <%= link_to "New topic", new_topic_path %> | <br>
| <%= link_to "Back to home",root_path %> |