<h1>All Tags</h1>
<h6 style="color: green"><%= params[:notice] %></h6>
|  <%= link_to "Create New Tag", new_tag_path %>  |
<br>
<br>
<table class="table table-hover">
  <thead>
  <tr>
    <th>Tag</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>
  <% @tags.each do |tag| %>
    <tr>
      <td><strong><%= link_to tag.name, posts_tag_path(tag) %></strong></td>
      <td><%= link_to "Edit", edit_tag_path(tag) %></td>
      <td><%= button_to "Delete", tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to "Back to Home", root_path, class: "btn btn-secondary" %>
