<h1>Posts in <%= @topic.title %> Topic</h1>


|  <%= link_to "New Post", new_topic_post_path(@topic) %>  |
<br>
<br>

<table class="table table-hover" style="width:100%;">
  <thead> <!-- Use thead for table headers -->
  <tr>
    <th>Post</th>
    <th>Description</th>
    <th>Average Rating</th>
    <th>Comments count</th>
    <th>show</th>
    <th>Comments</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr>
  <% @posts.each do |post| %>

      <td><%= post.title %></td>
      <td><%= post.content %></td>
      <td><%= @average_ratings[post.id].present? ? "#{sprintf('%.1f', @average_ratings[post.id])} stars" : 'N/A' %></td>
      <td><%= @comments.where(post_id: post.id).count %></td>
      <td> <%= link_to "Show ", topic_post_path(@topic, post) %></td>
      <td> <%= link_to "show " ,topic_post_comments_path(@topic, post) %> </td>
      <td>  <%= link_to "Edit", edit_topic_post_path(@topic, post) %></td>
      <td><%= button_to "Delete",topic_post_path(@topic, post), method: :delete, data: { confirm: "Are you sure?" } %></td>
      </tr>
  <% end %>
    </tbody>
</table>
<%= paginate @posts %>

<%= link_to "Back to Topics", topics_path, class: "btn btn-secondary" %>