<h1><%= @post.title %></h1>
<p><%= @post.content %></p>
<h2>Tags:</h2>
<ul>
  <% if @post.tags.any? %>
  <% @post.tags.each do |tag| %>
    <%= tag.name %>
  <% end %>
    <%else %>
       no tags
    <%end %>
</ul>

|  <%= link_to "Edit", edit_topic_post_path(@topic, @post) %>
|  <%= link_to "show comments" ,topic_post_comments_path(@topic,@post) %>  |
<%= button_to "Delete", topic_post_path(@topic, @post), method: :delete, data: { confirm: "Are you sure?" } %><br/>
<%= link_to "Back to Posts", topic_posts_path(@topic), class: "btn btn-secondary" %>