<h1><%= @post.title %></h1>
<p><%= @post.content %></p>

|  <%= link_to "Edit", edit_topic_post_path(@topic, @post) %>
|  <%= link_to "show comments" ,topic_post_comments_path(@topic,@post) %>  |
<%= button_to "Delete", topic_post_path(@topic, @post), method: :delete, data: { confirm: "Are you sure?" } %><br/>
<%= link_to "Back to Posts", topic_posts_path(@topic), class: "btn btn-secondary" %>