<h1><%= @post.title %></h1>
<p><%= @post.content %></p>
<% if @post.image.attached? %>
  <%= image_tag(@post.image, class: "image") %>
  <%else %>
  <strong>No images added</strong>
<% end %>
<br><br>
<h2>Tags:</h2>
<% if @post.tags.any? %>
  <% @post.tags.each do |tag| %>
    <%= tag.name %>
  <% end %>
<% else %>
  No tags available for this post.
<% end %>
<br><br>

<!-- Display existing ratings -->
<h2>Ratings:</h2>
<ul>
  <% @ratings.each do |star, count| %>
    <li><%= star %> Star Ratings: <%= count %></li>
  <% end %>
</ul>

<!-- Rating form -->
<%= form_for([@topic, @post, @post.ratings.build]) do |f| %>
  <%= f.label :value %>
  <%= f.radio_button :value, 1 %> 1 Star
  <%= f.radio_button :value, 2 %> 2 Stars
  <%= f.radio_button :value, 3 %> 3 Stars
  <%= f.radio_button :value, 4 %> 4 Stars
  <%= f.radio_button :value, 5 %> 5 Stars
  <%= f.submit "Submit Rating" %>
<% end %>
<br>
|  <%= link_to "Edit", edit_topic_post_path(@topic, @post) %> |
|  <%= link_to "show comments" ,topic_post_comments_path(@topic,@post)  %>  |
<%= button_to "Delete", topic_post_path(@topic, @post), method: :delete, data: { confirm: "Are you sure?" } %><br/>
<%= link_to "Back", topic_posts_path(@topic, @post), class: "btn btn-secondary" %>